# Files
# -----------------

.DS_Store
.eslintrc
.gitignore

# Build
# -----------------

tasks.sh

# File Types
# -----------------

*.db
*.log
*.zip
*.iml
*.sublime-*
*.log.*

# Directories
# -----------------

/tests
